.photoLogin{
    height: 100vmin;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.loginButton{
    margin-top: 3%;
    padding: 1%;
    border-radius: 12px;
    background: rgba(110, 46, 253, 0.50);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(252, 252, 252, 1);
    font-family: Public Sans;
    font-size: calc(2px + 2vmin);
    font-style: normal;
    font-weight: 700;
    box-shadow: none;
    outline: none;
    border: none;
}