.App {
    text-align: left;
}

.App-header {
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: #1A1D1F;
}

.column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    color: #1A1D1F;
    font-size: calc(25px + 2vmin);
    font-family: Public Sans;
    font-weight: 600;
    word-wrap: break-word;
    margin-bottom: 1%;
}

.paragraph {
    color: #818385;
    text-align: center;
    font-size: calc(4px + 2vmin);
    font-weight: 500;
    font-family: Public Sans;
    margin-bottom: 5%;
}

.general-form-input{
    background: var(--Neutral-02, #F4F4F4);
    border-radius: 12px;
    display: flex;
    align-items: center;
    width: 80%;
    position: relative;
    margin-bottom: 20px;
}

.general-form-input input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    font-size: calc(1px + 2vmin);
    margin-right: 5%;
  }
  
  .general-form-input img{
    position: relative;
    padding: 3%;
  }
  
  .general-form-input input:focus{
    outline: none;
  }

  .container {
    display: flex;
  }

  .menu-section {
    width: 15%;
  }
  
  .dashboard-section{
    width: 100%;
    background-color: #F4F4F4;
    height: 100%;
  }

  .first-menu{
    margin-top: 40%;
    list-style: none;
    padding: 0;
    flex-grow: 1; 
  }
  

.menu-item {
    display: flex;
    align-items: center;
    padding-left: 7%;
    width: 100%;
  }
  
  .menu-item:hover {
    display: flex;
    align-items: center;
    padding-left: 7%;
    width: 100%;
    background-color: #F4F4F4;
    border-radius: 12px;
  }
  
  .menu-item-active {
    display: flex;
    align-items: center;
    padding-left: 7%;
    width: 100%;
    background-color: #F4F4F4;
    border-radius: 12px;
  }
  
  .menu-item-text:hover{
    padding-left: 7%;
    color: #2A85FF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 160% */
    letter-spacing: -0.15px;
  }
  
  .menu-item-text-active{
    padding-left: 7%;
    color: #2A85FF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 160% */
    letter-spacing: -0.15px;
  }
  
  .menu-item-text{
    padding-left: 7%;
    color: #6F767E;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 160% */
    letter-spacing: -0.15px;
  }