.App {
    text-align: left;
}

.App-header {
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: #1A1D1F;
}

.column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    color: #1A1D1F;
    font-size: calc(25px + 2vmin);
    font-family: Public Sans;
    font-weight: 600;
    word-wrap: break-word;
    margin-bottom: 1%;
}

.paragraph {
    color: #818385;
    text-align: center;
    font-size: calc(4px + 2vmin);
    font-weight: 500;
    font-family: Public Sans;
    margin-bottom: 5%;
}

.general-form-input{
    background: var(--Neutral-02, #F4F4F4);
    border-radius: 12px;
    display: flex;
    align-items: center;
    width: 80%;
    position: relative;
    margin-bottom: 20px;
}

.general-form-input input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    font-size: calc(1px + 2vmin);
    margin-right: 5%;
  }
  
  .general-form-input img{
    position: relative;
    padding: 3%;
  }
  
  .general-form-input input:focus{
    outline: none;
  }

  .container {
    display: flex;
  }

  .menu-section {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding-left: 1%;
    padding-right: 3%;
  }

  .main-menu{
    margin-top: 40%;
    list-style: none;
    padding: 0;
    flex-grow: 1; 
  }
  
  .dashboard-section{
    width: 100%;
    background-color: #F4F4F4;
    height: 100%;
  }

  .first-menu{
    margin-top: 320%;
    list-style: none;
    padding: 0;
    flex-grow: 1; 
  }

  .secondary-menu{
    list-style: none;
    padding: 0;
  }
  
.menu-item {
    display: flex;
    align-items: center;
    padding-left: 7%;
    width: 800%;
  }
  
  .menu-item:hover {
    display: flex;
    align-items: center;
    padding-left: -137%;
    width: 800%;
    background-color: #F4F4F4;
    border-radius: 12px;
  }
  
  .menu-item-active {
    display: flex;
    align-items: center;
    width: 800%;
    background-color: #F4F4F4;
    border-radius: 12px;
    padding-left: -137%;
  }
  
  .menu-item-text:hover{
    padding-left: 7%;
    /* color: #2A85FF; */
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 160% */
    letter-spacing: -0.15px;
  }
  
  .menu-item-text-active{
    padding-left: 7%;
    color: #2A85FF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 160% */
    letter-spacing: -0.15px;
  }
  
  .menu-item-text{
    padding-left: 7%;
    color: #6F767E;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 160% */
    letter-spacing: -0.15px;
  }

  .menu-item-text-logout{
    padding-left: 7%;
    color: #E47E7E;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 24px;  */
    letter-spacing: -0.15px;
  }

  .search-box{
    border-radius: 12px;
    background: var(--Neutral-02, #F4F4F4);
    display: flex;
    align-items: center;
    width: 60%;
    position: relative;
    box-sizing: border-box;
    border: none;
    font-size: 18px;
    margin: 15px;
    padding-left: 1%;
  }

.dashboard-title{
    color: var(--Neutral-06, #272B30);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; 
    letter-spacing: -0.56px;
}

.overview-container{
    margin-top: 1%;
    border-radius: 12px;
    background: var(--Neutral-01, #FCFCFC);
    width: 95%;
}

.overview-items{
    padding-right: 2%;
    padding-bottom: 2%;
    gap: 15px;
}

.overview-items-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.overview-title{
    padding-top: 2%;
    color: var(--Neutral-07, #1A1D1F);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
    letter-spacing: -0.4px;
    padding-left: 2%;
}

.overview-cards-1{
    border-radius: 12px;
    background: rgba(181, 228, 202, 0.25);
    /* display: flex; */
    padding: 16px;
    /* align-items: flex-start; */
    flex: 1 0 0;
}

.overview-cards-2{
    border-radius: 12px;
    background: rgba(255, 0, 0, 0.25);
    /* display: flex; */
    padding: 16px;
    /* align-items: flex-start; */
    flex: 1 0 0;
}

.overview-cards-3{
    border-radius: 12px;
    background: rgba(255, 184, 0, 0.25);
    /* display: flex; */
    padding: 16px;
    /* align-items: flex-start; */
    flex: 1 0 0;
}

.overview-cards-4{
    border-radius: 12px;
    background: rgba(118, 128, 177, 0.25);
    /* display: flex; */
    padding: 16px;
    /* align-items: flex-start; */
    flex: 1 0 0;
}

.card-title{
    color: var(--Neutral-05, #33383F);
    /* font-family: Inter; */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.2px;
}

.odd-list-items{
    padding-left: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    background: rgba(244, 244, 244, 0.50);
    display: flex;
    align-items: center;
}

.even-list-items{
    padding-left: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    align-items: center;
}

.list-images{
    width: 10%;
    height: auto;
    border-radius: 12px;
}

.list-items-text{
    padding-left: 2%;
}

.list-items-text-1{
  color: var(--Neutral-04, #6F767E);
  /* font-family: Inter; */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.14px;
  line-height: 30px;
}

.list-items-text-2{
  color: #83BF6E;
  /* font-family: Inter; */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.14px;
}

.top-module{
  display: flex;
  justify-content: space-between;
}

.create-button{
  padding-right: 1%;
  padding-left: 1%;
  margin-right: 5%;
  border-radius: 12px;
  background: #2A85FF;
  border: none;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}